:root {
    --purple: #3C486B;
    --gray: #F0F0F0;
    --yellow: #F9D949;
    --orange: #F45050;
    --darkGray: rgba(0,0,0,0.3);
}


.container{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;

    height: 100vh;
}



.header-container{
    grid-column: 1/3;
    grid-row: 1/2;


    background-color: var(--orange);
}

.main-container{
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    background-color: #E5E5E5;

    
}

.footer-container{
    grid-column: 1/3;
    grid-row: 3/span 1;

    background-color: var(--orange);
}


.book-shelf{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;


    padding: 30px;
    gap: 30px;
}

.book-item{
    
    width: 200px;

    background-color: #FFFFFF;

    padding: 20px;
    border: 1px solid rgba(0,0,0,0.3);


    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.book-item h3{
    font-size: 36px;
    font-family: Roboto;
    background: rgb(121,9,81);
background: linear-gradient(45deg, rgba(121,9,81,1) 19%, rgba(0,212,255,1) 92%);-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;

}

.book-item p{
    font-size: 16px;
    font-family: Roboto;
    
    color: #0A043C;

    margin-bottom: 5px;

}

.book-status{
    font-size: 16px;
    font-family: Roboto;
    color: #0A043C;
    height: 20px;
    width: 100px;
    background-color: #C4C4C4;
    text-align: center;
    border-radius: 15px;
    border: 0.5px solid rgba(0,0,0,0.3);

    margin-bottom: 5px;

    justify-self: baseline;

}


.form-popup{
  display: none;
  position: absolute;
    

  justify-self: center;
  align-self: center;

  border: 0.1px solid var(--purple);
  border-radius: 15px;
  z-index: 9;

    height: 400px;
    width: 500px;
    background-color: var(--gray);

    transition: 2s;
    transition-duration: 2s;
    
}

.form-container{
    display: block;
    max-width: 300px;
    height: 80%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    margin: auto;

    justify-content: space-between;

}

.form-container input[type="text"]{
    height: 30px;
    width: 100%;
    border: 0.25px solid rgba(0,0,0,0.3);
    border-radius: 15px;
    padding-left: 15px;
}


/*Styling Add Book Button*/
#addBook {
    height: 30px;
    width: 120px;

    border: 0.25px solid darkGray;
    background-color: var(--yellow);
    border-radius: 15px;


    font-size: 16px;
    font-family: Roboto;
    color: var(--purple);

    margin: 50px auto auto 50px;

    transition: 0.25s;
}

#addBook:hover {
    scale: 1.10;
    transition: 0.25s;
}

/*Delete Book Styling*/
.delete-book-button img {
    height: 30px;
    width: 30px;
    
}

.delete-book-button {
    align-self: flex-end;
    padding: 0px;
    margin: 0px;
}

/*Delete Book Styling*/
.book-read-button img {
    height: 30px;
    width: 30px;
    
}

.book-read-button {
    align-self: flex-end;
    padding: 0px;
    margin: 0px;
}